.color {
	color: blue;
}
.large {
	font-size: 3em;
}
.border {
	border: 1px solid black;
}
.round {
	border-radius: 50%;
}
.bolder {
	font-weight: bold;
}
.italics {
	font-style: italic;
}
.block {
	display: block;
}